大模型
产品
解决方案
权益
定价
AI 应用市场
伙伴
服务
了解阿里云
文档
备案
控制台
注册
登录
天池
首页
天池大赛
天池学习
数据集
技术圈
更多
个人
首页
天池大赛
AI大模型赛
大赛详情
AI大模型赛
欧莱雅第二届美妆科技黑客松 - 赛题3 无界体验家 - 用爱(AI)让美触手可及

主办方

所属专题赛欧莱雅第二届美妆科技黑客松 - 用 AI 造点美

标签
# 多模态
# 智能体

报名与作品提交阶段
7.17
10.20
奖金
¥ 200000
团队数
295
立即报名
报名剩 28 日 15 时
赛事介绍
赛题与数据
获奖队伍公布区
排行榜
论坛
数据下载

数据文件名(注册之后可以下载)

数据大小

操作

ossutil命令

【**********************.pptx

.(9MB)

下载

复制命令

赛题3 无界体验家-用爱(AI)让美触手可及

“AI能让美属于每一个人吗?“

本次赛题旨在提供一个极具人文关怀与科技前沿度的频道，**鼓励参赛者大胆突破感官与生理的局限，释放科技温度。**探索前沿软硬件技术如何深度融入美妆行业让每个人都能平等地享受美。通过让前沿实验室里的“黑科技”走入日常，变成梳妆台前触手可及的温度，携手定义一个更美、更多元、无界的未来。
本赛题主要围绕 这两个主题（二选一）：


1. AI 如何在美妆结合长寿和生命科学的领域中发挥作用？

2. AI 如何在美妆结合社会和企业责任的领域中发挥作用？



💡 我们身边的典型场景

在我们的日常生活中，依然存在着许多因时空、信息或身体局限而产生的美妆鸿沟：

地域局限：小镇没有专柜，试色只能靠网购盲猜？
认知局限：长辈想科学护肤，成分表却像天书？
感官局限：视障人士看不清口红色号，就注定与“爱美”绝缘？

本赛题鼓励参赛团队运用 AI 相关技术发挥创意，打造有温度的无界美妆新体验。作品形式不限，可以是面向用户意图理解的智能交互系统、提升无障碍体验的数字化服务或智能 Agent，也可以结合多模态感知、软件应用、服务流程与必要的硬件载体，形成可演示、可验证的综合解决方案。



💡 题目要求

本赛题不限制参赛团队提交的作品类型，但需要满足如下条件：

所提交作品内容需要和本赛题的主题相契合。
所提交作品形式可以是具有创意价值的概念方案、设计构想或应用场景设想，不要求必须完全落地；如能进一步提供可使用、可现场演示的软件、硬件或软硬件结合系统，将更有助于体现作品的完整性与实现潜力。


🎨 创意表现形式
前沿技术融合： 鼓励结合前沿鼓励结合前沿硬件（比如脑机接口、智能传感器、微型机械控制、触觉反馈设备、体感摄像头等）与大语言模型/多模态模型，让它们成为你作品的控制与交互核心。（注意：本赛题同样不需要对 LLM 模型进行微调）。
多模态交互： 鼓励融入语音对话、视觉识别（面部追踪、手势识别）、姿态传感器等，以提升特殊使用场景下的无障碍交互体验。
可行性论证： 对于任何的作品，都需要扣题，对于设计出来的软件或者硬件，需要提供有效的可行性的分析和论证材料。
应用场景探索： 鼓励选手探索美妆系统在各种生活场景里的落地应用，比如家庭梳妆台上的智能辅助镜、商场里的无障碍美妆体验舱，或者是便于随身携带的出行个人美妆小助手。


🛠️ 技术要求

无



📦 赛题提供材料
可参考欧莱雅公司官网及互联网公开信息，并可通过搜索引擎自行获取相关资料，作为创意构思与方案设计的参考。
https://www.lorealchina.com/zh/
参考欧莱雅各品牌小红书官方账号。
社会和企业责任内容相关链接：https://mp.weixin.qq.com/s/d6rbbXc5sVbAxaBQSmh4ew


📤 作品提交形式

初赛提交材料：

展示文档：提交一份精炼的PPT，内容包括：作品背景与场景洞察、技术方案、核心功能演示、落地价值与未来规划
演示视频：录制一段创意的讲解或者实际使用时的演示视频，一目了然地展示核心功能和交互流程。

决赛提交材料：

展示文档：提交一份精炼的PPT，内容包括：项目思路、作品背景与场景洞察、技术方案、核心功能演示、落地价值与未来规划。
现场演讲： 需要在比赛现场进行设计或者产品的演讲，如可以展示可运行的 Demo，并将项目源代码及运行指南以 zip 压缩包形式提交更佳。
演示视频： 录制一段实际使用时的演示视频，一目了然地展示核心功能和交互流程。
其他展示： 如有其他展现形式如3D打印模型设计图、网页、小程序等，可单独以附件的形式提交链接或演示视频。该项不直接参与打分，会进行综合评价。


🎯 作品考察方向
创新性： 应用作品打破现有遇到的限制，以创新的方式解决了实际问题。
扣题性： 作品方案或者论证方法恰当地回答赛题中的两个关注中的一个或多个。
精准度与可行性： 作品的论证数据和材料具有说服力和理论依据。
价值观契合度： 生动诠释欧莱雅“创造美，让世界为之所动”的使命，用美妆科技消除人与人之间的隔阂，拥抱多元、包容与平等。
本页目录
赛题3 无界体验家-用爱(AI)让美触手可及
💡 我们身边的典型场景
💡 题目要求
🎨 创意表现形式
🛠️ 技术要求
📦 赛题提供材料
📤 作品提交形式
🎯 作品考察方向
